<%- include('partials/header.ejs') %>
    <title>C2H5OH & C12H22O11</title>
</head>
<body>
    <div class="wrap">
        <div class="header"></div>
        <div class="contents-wrap"></div>
    </div>
</body>
</html>